.footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 3em;
}
.social_list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.social_list li{
    margin: 0 1em;
}
.social_list li:hover{
    color: #FFBB23;
    
}
.social_list svg{
    cursor: pointer;
    font-size: 1.5em;
}
.copy_right{
    margin-top: 2em;
}
.copy_right span{
    color: #FFBB23;
    font-weight: bold;
}