.social_list{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.social_list li{
    margin: 0 1em;
}
.social_list svg{
    cursor: pointer;
    font-size: 1.5em;
}